{{ partial "head" . }}
<body>
    
    {{ partial "off-canvas" . }}

    <div class="site-wrapper">
        {{ partial "header" . }}
        
        <section class="single-wrap">
            <article class="single-content" itemscope itemtype="//schema.org/BlogPosting">
                <h1 class="page-title" itemprop="name headline">{{ .Title }}</h1>

                <time datetime="" itemprop="datePublished">{{ .Date.Format "January 2 2006" }}</time>

                <div itemprop="articleBody">
                    {{ .Content }}
                </div>
                
                {{ template "_internal/disqus.html" . }}

                {{ if .NextInSection }}
                    <a rel="next" href="{{ .NextInSection.Permalink }}" id="next">
                        &rarr; <small>{{ .NextInSection.Title }}</small>
                    </a>
                {{ end }}
                {{ if .PrevInSection }}
                    <a rel="prev" href="{{ .PrevInSection.Permalink }}" id="prev">
                        &larr; <small>{{ .PrevInSection.Title }}</small>
                    </a>
                {{ end }}
            </article>
        </section>

        {{ partial "footer" . }}
    </div>
    
    {{ partial "js" . }}
</body>
</html>
