<div class="off-canvas">
    <figure class="avatar">
        <img src="{{ .Site.BaseURL }}img/tayne.gif" title="{{ with .Site.Params.name }}{{ . }}{{ end }}">
    </figure>
    <div class="bio">
        {{ with .Site.Params.offcanvas.title }}
        <h1>{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.offcanvas.bio }}
        <p>{{ . | markdownify }}</p>
        {{ end }}
    </div>
    <nav>
        <br>
        <ul>
            <li><a href="/resources/" title="Resources">Resources</a></li>
            <li><a href="/hardware-checkout/" title="Hardware Checkout">Hardware Checkout</a></li>
            <li><a href="/pdf/IoT-Spring-2016-Syllabus.pdf" title="Syllabus">Syllabus <small>[PDF]</small></a></li>
        </ul>
    </nav>
</div>