<div class="off-canvas">
    <figure class="avatar">
        <img src="{{ .Site.BaseURL }}img/tayne.gif" title="{{ with .Site.Params.name }}{{ . }}{{ end }}">
    </figure>
    <div class="bio">
        {{ with .Site.Params.offcanvas.title }}
        <h1>{{ . }}</h1>
        {{ end }}

        {{ with .Site.Params.offcanvas.bio }}
        <p>{{ . | markdownify }}</p>
        {{ end }}
        <small>ARTS 391 - 004</small>
        <p><small><a href="https://github.com/streeetlamp/Intro-to-the-Internet-of-Things" title="GitHub Repo">GitHub Repo</a></small></p>
    </div>
    <nav>
        <br>
    <ul>
    {{ range where .Site.Pages "Section" "page" }}
        <li>
            <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
        </li>
    {{ end }}
        <li><a href="/pdf/IoT-Spring-2016-Syllabus.pdf" title="Syllabus">Syllabus <small>[PDF]</small></a></li>
    </ul>
    </nav>
</div>